version: '3'

volumes:
  postgres_data:
      driver: local

services:

  db-keycloak:
      image: postgres
      container_name: db-keycloak
      volumes:
        - postgres_data:/var/lib/postgresql/data
      environment:
        POSTGRES_DB: keycloak
        POSTGRES_USER: keycloak
        POSTGRES_PASSWORD: keycloak
      ports:
        - "5432"        

  keycloak:
      image: clecio/keycloak_y:1.0 # quay.io/keycloak/keycloak:20.0.3
      #command: start-dev
      container_name: keycloak
      environment:
        DB_VENDOR: POSTGRES
        DB_ADDR: db-keycloak
        DB_DATABASE: keycloak
        DB_USER: keycloak
        DB_SCHEMA: public
        DB_PASSWORD: password
        KEYCLOAK_ADMIN: admin
        KEYCLOAK_ADMIN_PASSWORD: admin
        KEYCLOAK_USER: keycloak
        KEYCLOAK_PASSWORD: keycloak
        #KC_CACHE_CONFIG_FILE: cache-custom-jgroups.xml  # -> ERROR: /opt/keycloak/conf/jgroups.p12 (No such file or directory)
        KC_HOSTNAME_STRICT_HTTPS: 
        KC_HTTP_ENABLED: 
        JAVA_OPTS: "-XX:MaxRAMPercentage=80 -XX:+UseG1GC -XX:MaxGCPauseMillis=500 -XX:+DisableExplicitGC -XX:+UseStringDeduplication -XX:+ParallelRefProcEnabled -Djava.net.preferIPv4Stack=true"
        JAVA_TOOL_OPTIONS: "-Dcom.sun.management.jmxremote -Dcom.sun.management.jmxremote.port=8790 -Dcom.sun.management.jmxremote.local.only=false -Dcom.sun.management.jmxremote.authenticate=false -Dcom.sun.management.jmxremote.ssl=false"

      volumes:
        - ./keycloak/cache-ispn-remote.xml:/opt/keycloak/conf/cache-ispn-remote.xml:z

      command:
        - "--verbose"
        - "start-dev"
        - "--http-enabled=true"
      # - "--http-relative-path=/auth"
        - "--http-port=8080"
        - "--proxy=passthrough"
        - "--hostname=localhost:8080"
        - "--spi-events-listener-jboss-logging-success-level=info"
        - "--spi-events-listener-jboss-logging-error-level=warn"
        - "--cache-config-file=cache-ispn-remote.xml" # ???
      #  - "--spi-sticky-session-encoder-infinispan-should-attach-route=false"
      #  - "-Djboss.site.name=site1"

        # Uncomment the line below if you want to specify JDBC parameters. The parameter below is just an example, and it shouldn't be used in production without knowledge. It is highly recommended that you read the PostgreSQL JDBC driver documentation in order to use it.
        #JDBC_PARAMS: "ssl=true"
      ports:
        - 8080:8080
        - "8443"
        - "8787"
        - "8790"  

      depends_on:
        - db-keycloak

  infinispan-server:
    image: clecio/infinispan_y:1.0 # quay.io/infinispan/server:13.0.15.Final-1
    container_name: infinispan
    environment:
      DB_HOSTNAME: db-infispan
      DB_USERNAME: infinispan
      DB_PASSWORD: infinispan
      DB_DATABASE: infinispan
      USER: keycloak
      PASS: password
    ports:
      - "11222:11222"
    depends_on:
      - db-infinispan

  db-infinispan:
      image: postgres
      container_name: db-infinispan
      volumes:
        - postgres_data:/var/lib/postgresql/data
      environment:
        POSTGRES_DB: infinispan
        POSTGRES_USER: keycloak
        POSTGRES_PASSWORD: password
      ports:
        - "5432"              